[submodule "bundle/vim-ruby"]
    path = bundle/vim-ruby
    url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/rails"]
    path = bundle/rails
    url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-git"]
    path = bundle/vim-git
    url = https://github.com/tpope/vim-git.git
[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/c"]
    path = bundle/c
    url = https://github.com/vim-scripts/c.vim.git
    ignore = untracked
[submodule "bundle/align"]
    path = bundle/align
    url = https://github.com/vim-scripts/Align.git
    ignore = untracked
[submodule "bundle/matchit"]
    path= bundle/matchit
    url = https://github.com/vim-scripts/matchit.zip.git
    ignore = untracked
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/repeat"]
    path = bundle/repeat
    url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
    path = bundle/surround
    url = https://github.com/tpope/vim-surround.git
[submodule "bundle/wombat"]
	path = bundle/wombat
	url = https://jmatraszek@github.com/jmatraszek/vim-wombat.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "bundle/yankstack"]
	path = bundle/yankstack
	url = git://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/sleuth"]
	path = bundle/sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/neomru"]
	path = bundle/neomru
	url = https://github.com/Shougo/neomru.vim.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/gutentags"]
	path = bundle/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/lexima"]
	path = bundle/lexima
	url = https://github.com/cohama/lexima.vim.git
	ignore = untracked
[submodule "bundle/rust-vim"]
	path = bundle/rust-vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/denite"]
	path = bundle/denite
	url = https://github.com/Shougo/denite.nvim.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/apprentice"]
	path = bundle/apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "bundle/vim-yaml-helper"]
	path = bundle/vim-yaml-helper
	url = https://github.com/lmeijvogel/vim-yaml-helper.git
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = git://github.com/tmux-plugins/vim-tmux.git
[submodule "bundle/vim-dirvish"]
	path = bundle/vim-dirvish
	url = git@github.com:justinmk/vim-dirvish.git
[submodule "bundle/vim-dirvish-git"]
	path = bundle/vim-dirvish-git
	url = git@github.com:kristijanhusak/vim-dirvish-git.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = git@github.com:roxma/nvim-yarp.git
[submodule "bundle/vim-hug-neovim-rpc"]
	path = bundle/vim-hug-neovim-rpc
	url = git@github.com:roxma/vim-hug-neovim-rpc.git
